{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 50px;">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-component">
          <blockquote class="blockquote text-right">
            <h3 style="font-style: italic;">
              "When something is important enough, you do it even if the odds are not in your favor."
            </h3>
            <footer class="blockquote-footer">
              Elon Musk
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <div class="bs-component">
          <h2 class="text-danger">Not quite there yet!</h2>
          <p>
            We are sorry to say that based on our analysis, Kickstarter '{{ ks_name }}' will most likely fail. 
            Below is a breakdown of the how impactful individual sections of your proposal were to the prediction of our model. Feel free to make changes and <a href="/">try again</a>!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}