{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 50px;">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-component">
          <form action="/register" method="post">
            <fieldset>
              <legend style="text-align:center;">Register</legend>
              {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                  <button type="button" class="close" data-dismiss="alert">
                    x
                  </button>
                  {{ message }}
                </div>
              {% endfor %}
              <div class="form-row justify-content-center">
                <div class="col-5" style="margin-block: 10px;">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" required>  
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-5" style="margin-bottom: 10px;">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="password1234" required>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary btn-lg">
                    Register
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
